# System files
.project
.DS_Store
.sass-cache
node_modules
source_assets/bower_components

# Compiled Files
app/assets/scripts/*
app/assets/styles/*
app/assets/templates/*
!app/assets/**/.gitkeep
!app/assets/images/*

# Local
.resources

.tmp
*.pyc
dist

