<section class="modal">
  <div class="modal-inner">
    <a href="#" title="Close" class="close" data-hook="close-modal"><span>x</span></a>
    <header class="modal-header">
      <h1 class="modal-title">Notes on the Data</h1>
    </header>
    <div class="modal-body">
      <p>The Surat Story of Resilience visualizes elements of climate change resilience through an interactive flood map. Surat has experience over twenty major floods in the past century, including one in 2006 that flooded more than 75% of the city.</p>
      <p>Flood data from the site comes from the <a href="http://www.suratmunicipal.gov.in/">Surat Municipal Corporation's</a> <a href="http://www.suratmunicipal.gov.in/Downloads/dmp_Eng.zip?SrNo=805005305406505405005404">Disaster Management Plan (pg 16)</a>. Data shows approximate average water levels received from reports during the flooding in August 2006.</p>
      <p>More information about Surat can be found on the <a href="http://acccrn.net/">Asian Cities Climate Change Resilience Network</a> and the <a href="http://www.indiaurbanportal.in/Publications/Publications181/Publications181755.PDF">Surat City Reilience Strategy.</a></p>
    </div>
    <footer class="modal-footer">
       <p>Made with love by <a href="https://developmentseed.org" title="Visit Development Seed website">Development Seed</a> and the <a href="http://www.globalresiliencepartnership.org">Global Resilience Partnership</a>.</p>
    </footer>
  </div>
</section>