<section class="modal">
  <div class="modal-inner">
    <a href="#" title="Close" class="close" data-hook="close-modal"><span>x</span></a>
    <header class="modal-header">
      <h1 class="modal-title">About</h1>
    </header>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Eum fuga inventore alias aut expedita incidunt cum non ratione quaerat accusantium dolorem, eveniet hic recusandae repellat nobis, fugit.</p>
      <p>Error, animi sapiente.</p>
    </div>
    <footer class="modal-footer">
       <p>Made with love by <a href="https://developmentseed.org" title="Visit Development Seed website">Development Seed</a>.</p>
    </footer>
  </div>
</section>