<a id="logo" href="/grp-map">Global Resilience Partnership</a>
<div id="map"><!-- Map here --></div>
<div id="grad"></div>
<div id="sidebar">

  <div class="flood-guage">
   <ul>
     <li><a data-layer="floodLayer4" href="#"><span class="flood-ind">20m</span></a></li>
     <li><a data-layer="floodLayer3" href="#"><span class="flood-ind">15m</span></a></li>
     <li><a data-layer="floodLayer2" href="#"><span class="flood-ind">10m</span></a></li>
     <li><a data-layer="floodLayer1" href="#"><span class="flood-ind">5m</span></a></li>
   </ul>
  </div>
  
  <div class="context-layers">
    <ul>
      <li><a data-layer="satellite" href="#"><span class="context-ind">Satellite</span></a></li>
      <li><a data-layer="zones" href="#"><span class="context-ind">Zones</a></span></li>
    </ul>
  </div>
  
  <nav>
    <ul>
      <li><a href="#" id="tour-prev" title="Previous" class="tour-cntrl"><</a></li>
	  <li><a href="#" id="tour-next" title="Next" class="tour-cntrl">></a><li>
      <!-- <li><a href="#" title="About" id="nav-about">?</a></li> -->
    </ul>
  </nav>
  <div class="project"><!-- sidebar.ejs --></div>
  <div class="tour"><!-- tour.ejs --></div>
</div>

<div id="about"><!-- About modal --></div>