<a id="logo" href="/grp-map">Global Resilience Partnership</a>
<div id="map"><!-- Map here --></div>
<div id="grad"></div>
<div id="sidebar">
  <nav>
    <ul>
      <li><a href="#" id="tour-prev" title="Previous" class="tour-cntrl"><</a></li>
	  <li><a href="#" id="tour-next" title="Next" class="tour-cntrl">></a><li>
      <li><a href="#" title="Previous project" class="project-cntrl" id="nav-prev"><</a></li>
      <li><a href="#" title="Zoom out" class="project-cntrl" id="nav-up">^</a></li>
      <li><a href="#" title="Next project" class="project-cntrl" id="nav-next">></a></li>
      <li><a href="#" title="About" id="nav-about">?</a></li>
      <li><a href="#/add-project" title="Submit project" id="nav-submit">+</a></li>
    </ul>
  </nav>
  <div class="project"><!-- sidebar.ejs --></div>
  <div class="tour"><!-- tour.ejs --></div>
</div>

