<fieldset class="location">
  <a href="#" class="remove revealed" title="Remove this project location">Remove location [x]</a>
  <fieldset>
    <label for="location[country][]">Country</label>
    <select class="form-control" name="location[country][]" id="location[country][]">
    <option value="--">Select country</option>
      <% _.each(countries, function(v, k) { %>
        <option value="<%- k %>"><%- v.name %></option>
      <% }); %>
    </select>
  </fieldset>

  <fieldset>
    <div class="map"><!-- Map here --></div>
  </fieldset>

  <div class="geolocation">
    <fieldset>
      <label for="location[long][]">Longitude</label>
      <input type="text" class="form-control" name="location[long][]" id="location[long][]">
    </fieldset>

    <fieldset>
      <label for="location[lat][]">Latitude</label>
      <input type="text" class="form-control" name="location[lat][]" id="location[lat][]">
    </fieldset>
  </div>
</fieldset>
