// GLOBAL
html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  background: #000;
}
a {
  text-decoration: none;
  color: #009ede;
}
a:hover {
  color: #46863C;
}

#site-canvas {
  #map {
    background: #000;
  }
}


h2 {
  margin-bottom: 10px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: #000;
}

.leaflet-tile-pane {
  opacity: 0.6;
}

#about {
  width: 100%;
  background: #000;
  background: rgba(0,0,0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  height: 100%;
  color: #fff;  
  padding: 4rem 8rem; 
  display: none;
  
  p {
    color: #fff;
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
  
  &.revealed {
    transition: margin-left 0.3s ease 0s;
    display: block;
  }
}


#logo {
  width: 150px;
  height: 100px;
  background: url("images/grp-logo.png") no-repeat;
  display: block;
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 100;
  background-size: contain;
  text-indent: -9999px;
}

.marker {
  &.cluster {
    width: 2rem;
    height: 2rem;
    border-radius: $global-rounded;
    background-color: #0081CB;

    p {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.25rem 0 0 0.25rem;
      line-height: 1.5rem;
      color: #FFF;
      font-size: 0.825rem;
      font-weight: bold;
      text-align: center;
      border-radius: $global-rounded;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &.single {
    width: 1.5rem;
    height: 1.5rem;
    margin: -0.75rem 0 0 -0.75rem;
    border-radius: $global-rounded;
    background-color: #0066A4;
    border: 4px solid #007FCE;
  }
  &.secondary {
    width: 1rem;
    height: 1rem;
    background: #444;
    margin: -0.5rem 0 0 -0.5rem;
    border: 4px solid #777;
  }
}

#grad {
  position: fixed;
  width: 20rem;
  z-index: 90;
  top: 0;
  left: 0;  
  height: 100%;
  background: linear-gradient(to right, #000, transparent);
}

#sidebar {
  position: absolute;
  left: 0;
  bottom: 4rem;
  z-index: 100;
  width: 15rem;
  padding: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-left: -23rem;
  color: #FFF;

  &.revealed {
    transition: margin-left 0.3s ease 0s;
    margin-left: 0rem;
  }
  
  // Make these wider than their container to maximize space for cilcking markers.
  .project,
  .tour {
    min-width: 20rem;
  }

	
  .title {
    line-height: 1.2;
    overflow: hidden;
    font-size: 1.5rem;
  }
  .subtitle {
    text-transform: uppercase;
  }

  .metadata {
    font-size: 0.825rem;
    margin-top: 2rem;

    dt {
      text-transform: uppercase;
    }
    dd {
      margin-bottom: 1rem;
      font-size: 0.75rem;
    }

    ul {
      list-style: none;
    }

    .budget + dd {
      font-size: 1rem;
    }
  }
}

#sidebar nav {
  position: fixed;
  left: 1.5rem;
  bottom: 1.5rem;

 
  
  .project-cntrl {
    display: none;
     
     &.revealed {
    display: block;
    }
  }

  ul {
    list-style-type: none;
    width: 100%;
    @extend .clearfix;

    li {
      float: left;
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      opacity: 0.4;
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 2.5rem;
      text-align: center;
      color: #333;
      background: #FFF;
      border-radius: $global-rounded;
    }
    a:hover {
      opacity: 0.6;
    }
  }
}
#tour {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0, 0.5);
  left: 0;
  bottom: 0;
  z-index: 100;
  color: #fff;
  .content {
    padding: 30px;
  }
}