
// DROPDOWNS

.drop {
  position: relative;
}

.drop-toggle {
  &:focus {
    outline: 0;
  }
}

.drop-content {
  background: #fff;

  position: absolute;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 12rem;
  margin: 0;
  text-align: left;
  opacity: 0;
  padding: 1rem;
  visibility: hidden;
  @include transform(translate3d(0, 0, 0));
  @include transition(opacity 0.16s ease 0s, margin 0.16s ease 0s, visibility 0.16s linear 0s);
  &:before {
    @extend .collecticon-triangle-up;
    position: absolute;
    z-index: 15;
    left: 1rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    height: 1rem;
    width: 1rem;
    .dropdown > & {
      @extend .collecticon-triangle-up;
      top: -0.675rem;
      text-shadow: 0 -1px rgba(#000, 0.08);
    }
    .dropup > & {
      @extend .collecticon-triangle-down;
      bottom: -0.675rem;
      text-shadow: 0 1px rgba(#000, 0.08);
    }
    .right > & {
      left: auto;
      right: 1rem;
    }
    .center > & {
      left: 50%;
      margin-left: -0.5rem;
    }
  }
  .dropdown > & {
    top: 100%;
    margin-top: -1rem;
  }
  .dropup > & {
    bottom: 100%;
    margin-bottom: -1rem;
  }
  .center > & {
    left: 50%;
    @include transform(translate(-50%, 0));
  }
  .right > & {
    right: 0;
    left: auto;
  }
  .open > & {
    opacity: 1;
    visibility: visible;
  }
  .dropdown.open > & {
    margin-top: 0.75rem;
  }
  .dropup.open > & {
    margin-bottom: 0.75rem;
  }
}